.merge > * {
    border-radius: 0;
    margin-left:0;
    margin-right:0;
}

.mergeStart > * {
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
    margin-left:5px;
    padding-left: 2px;
}

.mergeEnd > * {
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    margin-right:5px;
    padding-right: 2px;
}