.container {
  align-items: center;
  bottom: 100px;
  display: flex;
  gap: var(--space-big);
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.subcontainer {
  align-items: center;
  display: flex;
  width: 460px;
}

.subcontainer.left {
  justify-content: flex-end;
}

.subcontainer.right {
  justify-content: flex-start;
}

.progress {
  align-items: center;
  color: #ddd;
  display: flex;
  flex-flow: row;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 20px;
  margin-right: 16px;
  min-width: 115px;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
}

.separator {
  display:block;
  margin-left: var(--space-small);
  margin-right: var(--space-small);
}

.live {
  color: var(--color-alert);
}

.slider {
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  min-width: 75px;
}