.container {
  align-items: center;
  background: var(--color-theme-dark);
  display: flex;
  gap: var(--space-big);
  height:62px;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.subcontainer {
  align-items: center;
  display: flex;
  width: 460px;
}

.subcontainer.left {
  justify-content: flex-end;
}

.subcontainer.right {
  justify-content: flex-start;
}


.slider {
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  min-width: 75px;
  transition: opacity 0.2s ease-in-out;
}

.sliderDisabled {
  cursor:not-allowed;
  opacity: 0.2
}