.preview {
  aspect-ratio: calc(var(--preview-width) / var(--preview-height));
  background: repeating-conic-gradient(var(--color-theme-medium) 0% 25%, var(--color-theme-dark) 0% 50%) 50% / 20px 20px;
  border: solid 1px var(--color-theme-light);
  border-radius: var(--border-radius-medium);
  display: block;
  max-width: 360px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}