{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react/jsx-runtime", "@electron-toolkit", "@electron-toolkit/eslint-config-prettier", "plugin:react-hooks/recommended"],
  "rules": {
    "react/prop-types": "off",
    "simple-import-sort/imports": ["error", {
      "groups": [
        ["^\\u0000"],
        ["^node:"],
        ["^@?\\w"],
        ["^"],
        ["^\\."],
        ["^.+\\.?(graphql)$"],
        ["^.+\\.?(css)$"]
      ]
    }],
    "simple-import-sort/exports": "error"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "es2020": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["simple-import-sort"]
}
