{
    "arrowParens": "always",
    "singleQuote": true,
    "printWidth": 200,
    "proseWrap": "always",
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true
  }
  