.button {
    margin-left:5px;
    margin-right:5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    background-color: #486ee5;
    cursor: pointer;
    line-height: 80px;
    text-align: center;
    opacity:0.8;
    user-select:none;
}
.button:hover {
    opacity:1;
}

.button > svg {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.button_mini {
    margin:5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    background-color: #7f8186;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    opacity:0.5;
    user-select:none;
}

.button_mini:hover {
    opacity:0.6;
}
.button_mini.selected {
    opacity:1;
}

.button_mini > svg{
    width: 24px;
    height: 24px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.button_mini > svg path {
    fill: #dddddd;
}

.button > svg path {
    fill: #dddddd;
}

.containerMenu {
    bottom: 80px;
    width:190px;
    position: absolute;
    background: rgba(30, 30, 30, 0.8);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    -webkit-transform: translateX(-35%);
    transform: translateX(-33%);
    border-radius: 5px;
    line-height: 28px;
    cursor: pointer;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    display:none;
    overflow:hidden;
}

.containerMenu > div {
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}

.containerMenu > div:hover {
    background: rgba(30, 30, 30, 0.8);
}

.mainContainer {
    display:inline-block;
    height: auto;
}

.mainContainer:hover   .containerMenu, .containerMenu:hover {
    display:block
}