.comp-AnimationScreen .playerContainer
{
	max-width: 125vh;
	padding-top: 5vh;
	margin:auto;
	position:relative;
}


.comp-AnimationScreen .player
{
	width: 100%;
	background-color: #000;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
}

.comp-AnimationScreen .player .content{
	position: absolute;
    left: 50%;
    top: 50%;
    bottom: 0;
	right: 0;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width:100%;
}

.comp-AnimationScreen .comp-AnimationScreen-buttons
{
	width: 100%;
	text-align:center;

}

.comp-AnimationScreen .comp-AnimationScreen-buttons button{
	width: 8vh;
	background-color: #484B51;
	color:#7E8084;
	border-radius : 50%;
	font-size : 14px;
	height: 8vh;
	display: inline-block;
	border: none;
}

.comp-AnimationScreen .comp-AnimationScreen-timeline{
	height: 10vh;
	background-color: #484B51;
	width: 100%;
	bottom: 0;
	position:absolute;
	display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
	width: 100%;
}

.comp-AnimationScreen .comp-AnimationScreen-timeline img{
	height: calc(10vh - 8px);
	margin-bottom: 15px;
	display: inline-block;
	margin-left:2px;
	margin-right:2px;
	cursor:pointer;
}

.comp-AnimationScreen .comp-AnimationScreen-timeline span{
	height: calc(10vh - 8px);
    margin-bottom: 15px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #0e7de6;
    display: inline-block;
    position: relative;
	padding-left: calc(10vh - 8px);
	cursor:pointer;
}

.comp-AnimationScreen .comp-AnimationScreen-timeline::-webkit-scrollbar {
	width: 6px;
	max-width:6px;
}
.comp-AnimationScreen .comp-AnimationScreen-timeline::-webkit-scrollbar-thumb {
    min-height: 50px;
    background-color: hsla(0,0%,100%,.15);
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}
.comp-AnimationScreen .comp-AnimationScreen-timeline::-webkit-scrollbar-track, {
    background-color: rgba(0,0,0,.2);
}