.pageContent {
  height: 100%;
  overflow-y: scroll;
  padding-top:var(--safe-area-top);
  padding-bottom:var(--safe-area-bottom);
  padding-left: calc(var(--ea-should-apply-left-bar-padding) * var(--safe-area-left));
  padding-right: calc(var(--ea-should-apply-right-bar-padding) * var(--safe-area-right));
}

.pageContent::-webkit-scrollbar {
  width: 15px;
}

.pageContent::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--color-primary);
  border: 3px solid transparent;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  min-height: 50px;
}

.pageContent::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 0%);
}
