.pageContent {
  height: 100%;
  overflow-y: scroll;
  padding: calc(var(--ea-should-apply-top-bar-padding) * var(--safe-area-top)) calc(var(--ea-should-apply-right-bar-padding) * var(--safe-area-right))
    calc(var(--ea-should-apply-bottom-bar-padding) * var(--safe-area-bottom)) calc(var(--ea-should-apply-left-bar-padding) * var(--safe-area-left));
}

.pageContent::-webkit-scrollbar {
  width: 15px;
}

.pageContent::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--color-primary);
  border: 3px solid transparent;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  min-height: 50px;
}

.pageContent::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 0%);
}
