:local(.container) {
    width: calc(100% - 70px);
    float: left;
    height: 100vh;
    background-color: #202225;
    display: inline-block;
    position:relative;
    overflow: hidden;
    justify-content: center;
}