.actions {
    margin: 0 var(--space-huge);
    width: calc(100% - 2 * var(--space-huge));
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 80px;
}

.navbarItem {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarItemRange {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}