.actions {
    margin: 0 var(--space-huge);
    width: calc(100% - 2 * var(--space-huge));
}

.navbar {
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    width: 100%;
}

.navbarItem {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.navbarItemRange {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

}