.overlay {
    border: 2px solid var(--color-alert);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top:0;
    width: 100%;
}

.notch {
    background: var(--color-alert);
    border-bottom-left-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
    color: #fff;
    font-size: var(--font-size-9);
    height: 8px;
    left: 50%;
    line-height: 8px;
    padding: var(--space-small) var(--space-medium);
    position: fixed;
    top: 0;
    transform: translateX(-50%);
}