
.progress {
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    flex-flow: row;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 20px;
    margin-right: 16px;
    min-width: 115px;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
  }
  
  .separator {
    display:block;
    margin-left: var(--space-small);
    margin-right: var(--space-small);
  }
  
  .live {
    color: var(--color-alert);
  }