.line,
.line * {
    color: #dedede;
}

.line {
    display: flex;
    font-size: var(--font-size-6);
    gap: var(--space-medium);
    justify-content: space-between;
    width: 100%;
}

.line > div:last-child {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    text-align: right;
}

.shortcut {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.key {
    background-color: var(--color-theme-medium);
    border-radius: 4px;
    display: inline-block;
    font-size: var(--font-size-7);
    font-weight: 800;
    margin: 0 6px;
    min-width:20px;
    padding: 2px 4px;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    gap: var(--space-big);
    margin: auto;
    max-width: 600px;
    width: 100%;
}