.swtch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 45px;
}

.swtch input { display: none; }

.slider {
  background-color: var(--color-theme-light);
  border-radius: 34px;
  cursor: pointer;
  inset: 0;
  position: absolute;
  transition: 0.4s;
}

.slider::before {
  background-color: white;
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}

input:checked + .slider::before {
  transform: translateX(19px);
}

.isDisabled {
  cursor: not-allowed;
    opacity: 0.2;
}