.container {
  width: 100%;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
  position: fixed;
  bottom: 100px;
}

.progress {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #DDD;
  user-select:none;
  min-width:100px;
  vertical-align: middle;
}

.live{
  color: #e54848;
}

.tooltip {
  line-height: 14px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.fpsZone {
  background-color: #7f8186;
  width: 85px;
  margin: 10px;
  height: 30px;
  color: #dddddd;
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  user-select:none;
  border-radius:3px;
  overflow:hidden;
  vertical-align: middle;
}

.input {
  background-color: #7f8186;
  border: none;
  text-align: center;
  line-height: 28px;
  box-sizing: border-box;
  color: #dddddd;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}