.container {
  width: 100%;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

.progress {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #DDD;
}

.live{
  color: #e54848;
}

.tooltip {
  line-height: 14px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
