.container {
    background: #2f3136;
    height: 100vh;
    width: 100%;
}

.container > div {
    left:50%;
    margin:auto;
    max-width:800px;
    position:absolute;
    text-align:center;
    top: 50vh;
    transform: translate(-50%, -50%);
    width:98%;
}

.error {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    margin-top: 0;
    position: relative;
    text-align: center;
    user-select: none;
}

h1.error {
    letter-spacing: 2px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
}

h2.error {
    font-size: 20px;
    line-height: 20px;
    text-transform: none;   
    white-space: normal;
}

.actions {
    color : #fff;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    margin-top: 50px;
    user-select:none;
}
