.container {
    background: #0e1928;
    height: 100vh;
    width: 100%;
}

.container>div {
    left: 50%;
    margin: auto;
    max-width: 800px;
    position: absolute;
    text-align: center;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 98%;
}

.error {
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    margin-top: 0;
    position: relative;
    text-align: center;
    user-select: none;
}

h1.error {
    letter-spacing: 2px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
}

h2.error {
    font-size: 20px;
    line-height: 20px;
    text-transform: none;
    white-space: normal;
    margin-bottom: var(--space-big);
}

.actions {
    color: var(--color-white);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    margin-top: 50px;
    user-select: none;
    gap: var(--space-medium)
}

.stack,
.version {
    overflow: auto;
    background: var(--color-theme-light);
    border-radius: var(--border-radius-medium);
    padding: var(--space-medium);
    text-align: left;
    box-sizing: border-box;
    color: var(--color-white);
}

.version {
    background: var(--color-theme-light);
    border-radius: var(--border-radius-medium);
    padding: var(--space-medium);
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    color: var(--color-white);
}

.stack::-webkit-scrollbar {
    display: none;
}