.playerContainer {
    height: calc(100vh - 250px);
    width: calc(100% - 150px);
    max-width: 1330px;
    top: 25px;
    left: 50%;
    position: fixed;
    overflow: hidden;
    transform: translateX(-50%);
    display:flex;
    flex-direction:row;
}

/* TODO: Improve Responsive */