.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  position: relative;
  width: 100%;

}

.layout {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  touch-action: none;
}

.isEditable {
  cursor: none;
  pointer-events: all;
  touch-action: auto;
}