.block {
    align-items: center;
    border: 3px solid var(--color-theme-light);
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    justify-content: space-between;
    max-width: 200px;
    opacity: 0.7;
    overflow: hidden;
    padding: var(--space-medium);
    text-align: center;
    transition: opacity .2s ease-in-out;
    user-select: none;
    width: 33.33%;
}

.block.sizeAuto {
    max-width: auto;
    min-width: 150px;
    width: auto;
}

.block:hover {
    opacity: 1;
}

.block.disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.icon svg {
    color: var(--color-theme-light);
    height: 50px;
    width: 50px;
}

.title {
    color: var(--color-theme-light);
    font-size: var(--font-size-6);
    font-weight: 600;
}

.block.selected {
    border-color: var(--color-primary);
    cursor: not-allowed;
    opacity: 1;
}

.block.selected .icon svg,
.block.secondary .icon svg {
    color: var(--color-primary);
}

.block.selected .title,
.block.secondary .title {
    color: var(--color-primary);
}

.block.secondary {
    border-color: var(--color-primary);
}