.block {
    max-width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
    gap: var(--space-small);
    transition: opacity .2s ease-in-out;
    opacity: 0.7;
}

.block:hover {
    opacity: 1;
}

.icon {
    width: 90%;
    max-width: 60px;

}

.icon svg {
    fill: var(--color-theme-light);
}

.title {

    color: var(--color-theme-light);
    font-size: var(--font-size-7);

}