.container {
    background: rgb(0 0 0);
    margin: auto;
    overflow: hidden;
    position: relative;
}

.playerContainer {
    background: #000;
    border-bottom: solid var(--color-primary) 3px;
    border-top: solid var(--color-primary) 3px;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.live.playerContainer {
    border-bottom: solid var(--color-alert) 3px;
    border-top: solid var(--color-alert) 3px;
}


.layout {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Reverse */
.reverseX {
    transform: scale(-1, 1);
}

.reverseY {
    transform: scale(1, -1);
}

.reverseX.reverseY {
    transform: scale(-1, -1) !important;
}

.loader {
    animation: 1s linear infinite rotate;
    background: var(--color-primary);
    height: 48px;
    left: calc(50% - 24px);
    position: absolute;
    top: calc(50% - 24px);
    width: 48px;
}

.info {
    bottom: 5%;
    color: var(--color-white);
    font-size: var(--font-size-5);
    left: 5%;
    position: absolute;
    text-align: center;
    user-select: none;
    width: 90%;
}

.layoutVideoFrame {
    height: 100%;
    inset: 0 0 0 50%;
    object-fit: contain;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

.borderLeft,
.borderRight,
.borderTop,
.borderBottom {
    background: #000;
    position: absolute;
}

.borderLeft,
.borderRight {
    height: 100%;
}

.borderTop,
.borderBottom {
    width: 100%;
}


.borderLeft {
    left: 0;
}

.borderRight {
    right: 0;
}

.borderTop {
    top: 0;
}

.borderBottom {
    bottom: 0;
}







@keyframes rotate {
    0% {
        border-radius: 10%;
        transform: rotate(0deg) scale(0.2);
    }

    50% {
        border-radius: 50%;
        transform: rotate(180deg) scale(1.5);
    }

    100% {
        border-radius: 10%;
        transform: rotate(360deg) scale(0.2);
    }
}