.background {
    background: rgb(0 0 0 / 95%);
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

.info,
.code {
    bottom: 5%;
    color: #fff;
    font-size: var(--font-size-4);
    left: 5%;
    position: absolute;
    text-align: center;
    user-select: none;
    width: 90%;
}

.info {
    bottom: 5%;
}

.code {
    top: 5%;
}

.codeValue {
    font-size: var(--font-size-0);
    margin-top: var(--space-big);
}

.done {
    fill: var(--color-primary);
    height: 90px;
    left: calc(50% - 45px);
    position: absolute;
    top: calc(50% - 45px);
    width: 90px;
}

.loader {
    animation: 1s linear infinite rotate;
    background: var(--color-primary);
    height: 48px;
    left: calc(50% - 24px);
    position: absolute;
    top: calc(50% - 24px);
    width: 48px;
}

.quit {
    cursor: pointer;
    padding: var(--space-big);
    position: fixed;
    right: 0;
    top: 0;
}

.quit svg {
    fill: #fff;
    height: 30px;
    width: 30px;
}

@keyframes rotate {
    0% {
        border-radius: 10%;
        transform: rotate(0deg) scale(0.2);
    }

    50% {
        border-radius: 50%;
        transform: rotate(180deg) scale(1.5);
    }

    100% {
        border-radius: 10%;
        transform: rotate(360deg) scale(0.2);
    }
}