.form {
    margin: auto;
    max-width: 1100px;
    padding: var(--space-big) 1% var(--space-big) 1%;
    width: 98%;
    box-sizing: border-box;
}

.title {
    margin-bottom: var(--space-big);
    text-align: center;
    text-transform: uppercase;
}