.container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 100%;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}

.logo svg {
  width: 75%;
  display: inline-block;
  height: 100%;
  max-width: 520px;
}

.version {
  position: absolute;
  line-height: 14px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  margin-top: 0;
  user-select: none;
  right: 6px;
  top: 6px;
  cursor: pointer;
  text-align:right;
}

.version span {
  color: #fefefe;
}

.version span span{
  display: block;
}

.update span {
  color:#ff4d4d;
}

.line {
  width: 100%;
  height: 3px;
  background: #486ee5;
  position: absolute;
  bottom: 0;
}

@media screen and (max-height: 600px) {
  .container {
    display: none;
  }
}
