.field {
    background: var(--color-theme-medium);
    border: solid 3px var(--color-theme-light);
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    height: 36px;
    margin-right: var(--space-medium);
    padding: 3px;
    position: relative;
    user-select: none;
    width: 36px;
}

.warning {
    align-items: center;
    background: var(--color-warning);
    border-radius: 50%;
    color: var(--color-theme-extra-dark);
    display: flex;
    font-size: var(--font-size-9);
    font-weight: bold;
    height: 16px;
    justify-content: center;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 16px;
}

.field img {
    fill: var(--color-white);
    height: 100%;
    min-width: 100%;
}

.field .input {
    display: none;
}

.selected {
    border: solid 3px var(--color-primary);
}