.field {
    background: var(--color-theme-light);
    border: solid 3px var(--color-theme-medium);
    width: 36px;
    height: 36px;
    margin-right: var(--space-medium);
    cursor: pointer;
    border-radius: var(--border-radius-medium);
    padding: 3px;
}

.field img {
    fill: #fff;
    min-width: 100%;
    height: 100%;
}

.field input {
    display: none;
}

.selected {
    border: solid 3px var(--color-primary);
}