.headerBar {
  background: var(--color-theme-extra-dark);
  border: none;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 62px;
  z-index: 99;
}

.headerBarLeft {
  left: 0;
}

.headerBarRight {
  right: 0;
}

.top,
.center,
.bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  place-content: center center;
  position: absolute;
  width: 100%;
}

.top {
  padding-top: 5px;
  top: 0;
}

.center {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
  padding-bottom: 5px;
}

.headerBar .top {
  padding-top: 5px;
}

.headerBar .bottom {
  padding-bottom: 5px;
}

.logo {
  cursor: normal !important;
  height: 42px !important;
  margin: 5px;
  user-select: none;
  width: 42px !important;
}

.headerBarLeft.withBorder {
  border-right: 2px solid var(--color-theme-medium);
}

.headerBarRight.withBorder {
  border-left: 2px solid var(--color-theme-medium);
}

/* Show it on mobile view */
@media (orientation: landscape) and (width <=700px),
(orientation: landscape) and (height <=500px) {
  .headerBar {
    display: block;
  }
}