.headerBar {
    background: var(--color-theme-extra-dark);
    border: none;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 60px;
    z-index: 99;
}

.headerBarLeft {
    left: 0;
}

.headerBarRight {
    right: 0;
}

.headerBar .top {
    padding-top: 5px;
}

.headerBar .bottom {
    padding-bottom: 5px;
}

.top,
.center,
.bottom {
    place-content: center center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;


}

.top {
    padding-top: 5px;
    top: 0;

}

.center {
    top: 50%;
    transform: translateY(-50%);
}

.bottom {
    bottom: 0;
    padding-bottom: 5px;
}

.logo {
    cursor: pointer;
    height: 42px;
    margin: 5px;
    user-select: none;
    width: 42px;
}

.headerBarLeft.withBorder {
    border-right: 3px solid var(--color-primary);
}

.headerBarRight.withBorder {
    border-left: 3px solid var(--color-primary);
}

/* Show it on mobile view */
@media (orientation: landscape) and (width <= 700px),
       (orientation: landscape) and (height <= 500px) {
    .headerBar {
        display: block;
    }
}