.button {
    place-content: center center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 42px;
    line-height: 42px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: all .3s ease-in-out;
    user-select: none;
    width: 42px;
}

.button:hover {
    background-color: hsl(225deg 75% 62% / 100%);
}

.buttonMini {
    place-content: center center;
    align-items: center;

    /* background-color: #7f8186; */
    background-color: var(--color-theme-medium);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 36px;
    line-height: 36px;
    margin: 5px;
    padding: 5px;
    position: relative;
    text-align: center;
    transition: all .3s ease-in-out;
    user-select: none;
    width: 36px;
}

.buttonMini:hover {
    background-color: var(--color-theme-light);
}

.buttonMini.selected {
    background-color: var(--color-primary);
}

.buttonMini.selectedWarning {
    background-color: var(--color-alert);
}


.buttonMini.selected:hover {
    background-color: hsl(225deg 75% 62% / 100%);
}

.buttonMini.selectedWarning:hover {
    background-color: hsl(0deg 75% 62% / 100%);
}




.button>svg,
.buttonMini>svg {
    background-size: contain;
    display: inline-block;
    height: 70%;
    vertical-align: middle;
    width: 70%;
}

.buttonMini>svg path {
    fill: #ddd;
}

.button>svg path {
    fill: #ddd;
}

.mainContainer {
    display: inline-block;
    height: auto;
}

.disabled {
    cursor:not-allowed;
    opacity: 0.2 !important;
}