.button.colorPrimary {
    background-color: var(--color-primary);
}

.button.colorPrimary:hover {
    background-color: hsl(225deg 75% 62% / 100%);
}

.button {
    --size:42px;

    align-items: center;
    background-color: var(--color-theme-medium);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: var(--size);
    line-height: var(--size);
    margin: 5px;
    place-content: center center;
    position: relative;
    text-align: center;
    transition: all .3s ease-in-out;
    user-select: none;
    width: var(--size);
}

.button:hover {
    background-color: var(--color-theme-light);
}

.button.selected {
    background-color: var(--color-primary);
}

.button.selectedWarning {
    background-color: var(--color-alert);
}


.button.selected:hover {
    background-color: hsl(225deg 75% 62% / 100%);
}

.button.selectedWarning:hover {
    background-color: hsl(0deg 75% 62% / 100%);
}


.button>svg {
    background-size: contain;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.button>svg path {
    fill: var(--color-white);
}

.mainContainer {
    display: inline-block;
    height: auto;
}

.disabled {
    cursor:not-allowed;
    opacity: 0.2 !important;
}