.container {
    align-items: center;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--space-huge) 0;
    padding: 40px 20px;
    text-align: center;
    user-select: none;
}

.icon {
    fill:var(--color-white);
    height:40px;
    margin-bottom: var(--space-medium);
    width:40px;
}

.icon svg {
    height: 100%;
    width: 100%;
}

.message {
    font-size: var(--font-size-5);
    margin-bottom: var(--space-small);
}