.select {
    background: var(--color-theme-medium);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: var(--font-size-6);
    height: 26px;
    line-height: var(--line-size-6);
    margin: 0;
    max-width: 300px;
    overflow: hidden;
    padding:0 var(--space-small);
    width: 100%;
}

.select:hover,
.select:focus {
    background-color: var(--color-theme-light);
}

.select option:disabled {
    color: #ccc;
}