.background {
    align-items: center;
    background: rgb(0 0 0 / 95%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    padding: calc(var(--space-huge) * 2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

.info,
.code {
    color: var(--color-white);
    font-size: var(--font-size-4);
    text-align: center;
    user-select: none;
    width: 90%;
}

.codeValue {
    font-size: calc(1.2 * var(--font-size-0));
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: calc( 2 * var(--space-big));
}

.containerCenter {
    margin: auto;
}

.progressContainer {
    display: flex;
    flex-direction: column;
}

.progress {
    color: var(--color-white);
    font-size: var(--font-size-4);
    margin-top: calc(24px + var(--space-huge));
    text-align: center;
    width: 100%;
}

.doneContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--space-huge));
    justify-content: center;
    width: 100%;
}

.done {
    fill: var(--color-primary);
    height: 90px;
    margin: auto;
    width: 90px;
}

.loader {
    animation: 1s linear infinite rotate;
    background: var(--color-primary);
    height: 48px;
    width: 48px;
}

.quit {
    cursor: pointer;
    padding: var(--space-big);
    position: fixed;
    right: 0;
    top: 0;
}

.quit svg {
    fill: var(--color-white);
    height: 30px;
    width: 30px;
}

@keyframes rotate {
    0% {
        border-radius: 10%;
        transform: rotate(0deg) scale(0.2);
    }

    50% {
        border-radius: 50%;
        transform: rotate(180deg) scale(1.5);
    }

    100% {
        border-radius: 10%;
        transform: rotate(360deg) scale(0.2);
    }
}