.container {
    display: flex;
    justify-content: center;
}

.tabContainer {
    border-bottom-right-radius: 3px;
    display: flex;
    position:relative;
}

.tab {
    align-items: center;
    background: var(--color-theme-medium);
    border-bottom: 3px solid var(--color-primary);
    border-left: 1px solid var(--color-theme-light);
    display: flex;
    height: 45px;
    justify-content: center;
    overflow: hidden;
    width: 45px;
}

.tab svg {
    color: var(--color-white);
    height: 22px;
    width: 22px;
    z-index:1;
}

.tabFirst {
    border-bottom-left-radius: 6px;
    border-left: 3px solid var(--color-primary);
}

.tabLast {
    border-bottom-right-radius: 6px;
    border-right: 3px solid var(--color-primary);
}

.backgroundTab {
    background: var(--color-primary);
    height:45px;
    left:0;
    position: absolute;
    top:0;
    transform: translateX(0%);
    transition: transform .25s ease-in-out;
    width: 45px;
    z-index:0;
}
