.container {
    display: flex;
    justify-content: center;

    --size: 45px;
    --icon-size: 22px;
}

.tabContainer {
    border-bottom-right-radius: 3px;
    display: flex;
    position: relative;
}

.tab {
    align-items: center;
    background: var(--color-theme-medium);
    border-bottom: 3px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
    display: flex;
    height: var(--size);
    justify-content: center;
    overflow: hidden;
    width: var(--size);
}

.tab svg {
    color: var(--color-white);
    height: var(--icon-size);
    width: var(--icon-size);
    z-index: 1;
}

.tabFirst {
    border-bottom-left-radius: 6px;
    border-left: 3px solid var(--color-primary);
}

.tabLast {
    border-bottom-right-radius: 6px;
    border-right: 3px solid var(--color-primary);
}

.backgroundTab {
    background: var(--color-primary);
    height: var(--size);
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(0%);
    transform: translateX(calc(var(--index) * (var(--size) + 1px) + 3px));
    transition: transform .25s ease-in-out;
    width: var(--size);
    z-index: 0;
}


@media screen and (width <=800px) {
    .container {
        --size: 40px;
        --icon-size: 20px;
    }
}

@media screen and (width <=700px) {
    .container {
        --size: 35px;
        --icon-size: 17px;
    }
}

@media screen and (width <=600px) {
    .container {
        --size: 30px;
        --icon-size: 14px;
    }
}