.wrapper {
  position: relative;
  width: 100%;
}

.container {
  /* Height img + scollbar */
  background: linear-gradient(0deg, var(--color-theme-light) 0%, var(--color-theme-dark) 100%);
  box-sizing: border-box;
  overflow: scroll hidden;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
  width: 100%;

  --size: 80px;
  --title-size: calc(var(--size) * 0.3125);
  --title-font: calc(var(--size) * 0.1625);
  --tag-size: calc(var(--size) * 0.175);
  --padding-bottom: 0px;
  --padding-top: 0px;
}

.shadow {
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 50px;
  z-index: 10;
}

.shadow.visible {
  opacity: 1;
}

.shadowLeft {
  background: linear-gradient(90deg, rgb(14 25 40 / 100%) 0%, rgb(14 25 40 / 0%) 100%);
  left: 0;
}

.shadowRight {
  background: linear-gradient(270deg, rgb(14 25 40 / 100%) 0%, rgb(14 25 40 / 0%) 100%);
  right: 0;
}

.containerImg {
  background: rgb(0 0 0 / 0%);
  cursor: pointer;
  display: inline-block;
  height: var(--size);
  min-width: var(--size) !important;
  overflow: hidden;
  padding: var(--padding-top) 2px var(--padding-bottom) 2px;
  position: relative;
  user-select: none;
  vertical-align: bottom;
}

.img {
  background: rgb(0 0 0 / 0%);
  cursor: pointer;
  display: inline-block;
  height: var(--size);
  min-width: var(--size);
  overflow: hidden;
  position: absolute;
  user-select: none;
}

.imgcontent {
  height: 100%;
  margin-left: 50%;
  min-height: var(--size);
  min-width: var(--size);
  position: absolute;
  transform: translateX(-50%);
  user-select: none;
}

.camera .img {
  background-color: var(--color-primary);
}

.title {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--title-font);
  font-weight: 600;
  height: var(--title-size);
  letter-spacing: 1px;
  line-height: var(--title-size);
  opacity: 0;
  position: absolute;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  width: calc(100% - 4px);
}

.selected .title {
  background-color: var(--color-alert);
  opacity: 1;
}

.isHidden .img {
  filter: grayscale(1);
  opacity: 0.2
}

.icon {
  color: var(--color-white);
  height: 24px;
  left: 50%;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
}

.container:not(.playing) .containerImg:hover .title {
  opacity: 1;
}

.container::-webkit-scrollbar {
  width: 15px;
}

.container::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--color-primary);
  border: 3px solid transparent;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  min-height: 50px;
}

.container::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 0%);
}

@media (pointer: coarse) {
  .container {
    scrollbar-width: none;

    --padding-bottom: 4px;
    --padding-top: 4px;
  }

  .container::-webkit-scrollbar {
    display: none;
  }
}

.shortPlayIcon {
  background-color: var(--color-primary);
  border-top-right-radius: var(--border-radius-small);
  bottom: var(--padding-bottom);
  color: var(--color-white);
  height: var(--tag-size);
  left: 0;
  padding: var(--space-tiny) var(--space-small);
  pointer-events: none;
  position: absolute;
}

.duplicated {
  background-color: var(--color-primary);
  border-top-left-radius: var(--border-radius-small);
  bottom: var(--padding-bottom);
  color: var(--color-white);
  font-size: calc(0.9 * var(--tag-size));
  height: var(--tag-size);
  line-height: var(--tag-size);
  padding: var(--space-tiny) var(--space-small);
  pointer-events: none;
  position: absolute;
  right: 2px;
}

.masking {
  background-color: var(--color-primary);
  border-top-right-radius: var(--border-radius-small);
  bottom: var(--padding-bottom);
  color: var(--color-white);
  font-size: calc(0.9 * var(--tag-size));
  height: var(--tag-size);
  left: 2px;
  line-height: var(--tag-size);
  padding: var(--space-tiny) var(--space-small);
  pointer-events: none;
  position: absolute;
}

.liveLayerIcon {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  line-height: 100%;
  place-content: center center;
  position: absolute;
  text-align: center;
  width: calc(100% - 4px);

  --fa-primary-color: var(--color-white);
  --fa-secondary-color: var(--color-white);
}

.liveLayerIcon svg {
  height: 40%;
  transform: translateY(5px);
  width: 40%;
}

.liveLayerIconBackground {
  --fa-primary-opacity: 0.6;
  --fa-secondary-opacity: 1;
  --fa-secondary-color: var(--color-theme-medium);
}

.liveLayerIconForeground {
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 0.6;
  --fa-primary-color: var(--color-theme-medium);
}

.liveLayerText {
  background: var(--color-theme-medium);
  bottom: var(--padding-bottom);
  box-sizing: border-box;
  color: var(--color-white);
  font-size: 10px;
  overflow: hidden;
  padding: 2px;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  width: calc(100% - 4px);
}

@media (width <= 850px) {
  .container {
    --size: 70px;

  }
}

@media (width <= 800px) {
  .container {
    --size: 62px;
  }
}

@media (width <= 750px) {
  .container {
    --size: 54px;
  }
}