.container {
  /* Height img + scollbar */
  background: linear-gradient(0deg,var(--color-theme-light) 0%, var(--color-theme-dark) 100%);
  box-sizing: border-box;
  overflow: scroll hidden;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
  width: 100%;
}

.containerImg {
  background: rgb(0 0 0 / 0%);
  cursor: pointer;
  display: inline-block;
  height: 80px;
  min-width: 80px;
  overflow: hidden;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  user-select: none;
  vertical-align: bottom;
}

.img {
  background: rgb(0 0 0 / 0%);
  cursor: pointer;
  display: inline-block;
  height: 80px;
  min-width: 80px;
  overflow: hidden;
  position: absolute;
  user-select: none;
}

.imgcontent {
  height: 100%;
  margin-left: 50%;
  min-height: 80px;
  min-width: 80px;
  position: absolute;
  transform: translateX(-50%);
  user-select: none;
}

.camera .img {
  background-color: var(--color-primary);
}

.title {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 13px;
  font-weight: 600;
  height: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  opacity: 0;
  position: absolute;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  width: calc(100% - 4px);
}

.selected .title {
  background-color: var(--color-alert);
  opacity: 1;
}

.isHidden .img {
  filter: grayscale(1);
  opacity: 0.2
}

.icon {
  color: var(--color-white);
  height: 24px;
  left: 50%;
  opacity:0.5;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
}

.containerImg.containerImgHover:hover .title {
  opacity: 1;
}

.container::-webkit-scrollbar {
  width: 15px;
}

.container::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--color-primary);
  border: 3px solid transparent;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  min-height: 50px;
}

.container::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 0%);
}

.shortPlayIcon {
  background-color: var(--color-primary);
  border-top-right-radius: var(--border-radius-small);
  bottom: 0;
  color: var(--color-white);
  height: 14px;
  left: 0;
  padding: var(--space-tiny) var(--space-small);
  pointer-events: none;
  position: absolute;
}

.duplicated {
  background-color: var(--color-primary);
  border-top-left-radius: var(--border-radius-small);
  bottom: 0;
  color: var(--color-white);
  font-size: var(--font-size-7);
  height: 14px;
  line-height: 14px;
  padding: var(--space-tiny) var(--space-small);
  pointer-events: none;
  position: absolute;
  right: 2px;
}