.bgd {
  height: 100vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 999999;
}

.window {
  background: var(--color-theme-dark);
  border-top: solid 3px var(--color-primary);
  bottom: 0;
  box-shadow: 0 0 10px 0 rgb(114 114 114 / 10%);
  box-sizing: border-box;
  max-height: calc(100vh - var(--safe-area-top));
  min-height: 20vh;
  opacity: 0;
  overflow: auto;
  padding-bottom: var(--safe-area-bottom);
  padding-left: var(--safe-area-left);
  padding-right: var(--safe-area-right);
  position: fixed;
  transform: translate(0%, 101%);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  width: 100%;
  will-change: transform, opacity;
}

.window.fullscreen {
  min-height: 100vh;
}

.content {
  box-sizing: border-box;
}

.opened {
  pointer-events: all;
}

.opened > .window {
  opacity: 1;
  transform: translate(0%, 0%);
}

.close {
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  opacity: 1;
  position: absolute;
  right: calc(var(--space-medium) + var(--safe-area-right));
  top: var(--space-medium);
  transition: opacity 0.3s ease-in-out;
  user-select: none;
  width: 1.25rem;
  z-index: 5;
}

.close:hover {
  opacity: 0.7;
}

.close svg {
  height: 100%;
  width: 100%;
}
