.button {
  background: var(--color-primary);
  border-radius: var(--border-radius-small);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-7);
  font-weight: 600;
  padding: var(--space-small) var(--space-medium);
  user-select: none;
  white-space: nowrap;
}

.button.disabled {
  background: var(--color-theme-light);
  color: var(--color-white);
  cursor: not-allowed;
  opacity: 0.6;
}
